emoji==2.2.0
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.2
soynlp==0.0.493
torch==1.13.0
--extra-index-url https://download.pytorch.org/whl/cu116
transformers==4.25.1
jupyter==1.0.0
ipykernel==6.19.2
datasets==2.7.1
tqdm==4.64.1
scikit-learn==1.2.0
